.header {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;

  background-color: rgba(243, 87, 87, 0.8);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

input {
  width: 200px;
  height: 30px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;

  color: rgb(89, 64, 231);
  background-color: rgb(250, 250, 252);

  border: 1 solid rgb(89, 64, 231);
  border-radius: 4px;
}

.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;

  padding-top: 30px;
  padding-bottom: 30px;
}

.photo-card {
  width: 250px;
  height: 230px;
  padding-bottom: 10px;
  object-fit: fill;
  position: relative;

  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.image {
  width: 100%;
  height: 170px;
  object-fit: cover;
}

.info {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-left: 5px;
}

.info-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.88;
  letter-spacing: 0.02em;
}

.thumb {
  display: flex;
  align-items: center;
  justify-content: center;
}
